---
import Layout from 'layouts/Layout.astro'
import App from 'components/App'
import Footer from 'components/Footer.astro'
---

<Layout>
  <main class='max-w-full px-4'>
    <section class='max-w-[65ch] mb-10'>
      <h1 class='font-black text-3xl mb-6'>Recolecci칩n de mensajes de texto 游</h1>
      <p>
        Los mensajes que enviar치s ser치n utilizados con para un modelo que logre identificar cuando
        un mensaje es fraudulento o no. Tu aporte ser치 de mucha ayuda.
      </p>
    </section>

    <App client:load />
  </main>
  <Footer />
</Layout>
